@keyframes splitTop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes splitBottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.animate-splitTop {
  animation: splitTop 1.4s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.animate-splitBottom {
  animation: splitBottom 1.4s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.fade-in {
  animation: fadeIn 1.2s ease-in-out 1.4s forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
